body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: repeat;
    background-image: url(dsBuffer.jpg);
    background-size: contain;
}

.header_text {
    font-family: "Apple Chancery", cursive;
    font-size: 50px;
    font-weight: bold;
    color: rgb(244, 7, 7);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: aliceblue;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}